@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-y: hidden;
}

.mask-gradient {
  mask-image: linear-gradient(to bottom, black 75%, transparent 93%);
}

@media (max-width: 768px) {
  html,
  body {
    overflow-y: auto; /* o scroll si prefieres */
    height: auto; /* asegúrate que la altura se adapte */
  }
}

@layer utilities {
  .home-bg {
    @apply bg-[url('/home/background-home-mobile.jpg')] bg-cover bg-center min-h-screen;
  }

  .destination-bg {
    @apply bg-[url('/destination/background-destination-mobile.jpg')] bg-cover bg-center min-h-screen;
  }

  .technology-bg {
    @apply bg-[url('/technology/background-technology-mobile.jpg')] bg-cover bg-center min-h-screen;
  }

  .crew-bg {
    @apply bg-[url('/crew/background-crew-mobile.jpg')] bg-cover bg-center min-h-screen;
  }

  @screen lg {
    .home-bg {
      @apply bg-[url('/home/background-home-desktop.jpg')];
    }

    .destination-bg {
      @apply bg-[url('/destination/background-destination-desktop.jpg')];
    }

    .technology-bg {
      @apply bg-[url('/technology/background-technology-desktop.jpg')];
    }

    .crew-bg {
      @apply bg-[url('/crew/background-crew-desktop.jpg')];
    }
  }
}
